<article class="slide slide--text">
  <header>
    <h1>Atomic CSS and CSS Frameworks</h1>
  </header>
  <section>
    <p>Atomic CSS is the idea of using one class name to do one thing e.g:</p>
    <pre class="prettyprint"><code class="lang-css">.p-1 &#123;
    padding: 0.25rem;
  &#125;
  </code>
  </pre>
    <p>This idea is used by many front end frameworks, probably the most well known and popular being Bootstrap or Foundation, though there are plenty more.</p>
    <p><a href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
    <p><a href="https://get.foundation/">https://get.foundation/</a></p>
    <p>There are downsides to these though...</p>
  </section>

  <a [routerLink]="[ '/slide-7' ]" class="link link--prev">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
  <a [routerLink]="[ '/slide-9' ]" class="link link--next">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
</article>

