<article class="slide slide--text">
  <header>
    <h1>D.R.Y.</h1>
    <h2>Don't repeat yourself</h2>
  </header>
  <section>
    <p>The less lines of any language you write, the smaller the file size you are sending to the user.</p>
    <p>The smaller the file size the faster it loads. Better UX, better Google rating.</p>
  </section>

  <a [routerLink]="[ '/slide-6' ]" class="link link--prev">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
  <a [routerLink]="[ '/slide-8' ]" class="link link--next">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
</article>
