<article class="slide slide--text">
  <header>
    <h1>Tailwind CSS</h1>
  </header>
  <section>
    <h3>What is Tailwind?</h3>
    <ul>
      <li>Tailwind is to also a framework that relies on atomic style class names.</li>
      <li>In it's regular forms it is one of the largest CSS frameworks going file size wise.</li>
    </ul>
    <h3>So what are it's advantages?</h3>
    <ul>
      <li>It is very simple to customize, thus avoiding the generic look that other frameworks give.</li>
      <li>When used in a build system configured correctly, unused class names can be removed from the code. Vastly reducing file size</li>
    </ul>
    <p><small>It should be noted that other frameworks can be set up with similar build processes. They are also customizable but no where near as easily.</small></p>
  </section>

  <a [routerLink]="[ '/slide-11' ]" class="link link--prev">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
  <a [routerLink]="[ '/slide-13' ]" class="link link--next">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
</article>
