<article class="slide slide--text">
  <header>
    <h1>Pros and Cons of Frameworks</h1>
  </header>
  <section>
    <div class="wrapper">
      <div>
        <h2>Pros</h2>
        <ul>
          <li>Very quick and easy to use.</li>
          <li>Out of the box styling.</li>
          <li>A column based responsive grid system.</li>
          <li>UI components built in, e.g. dropdown nav items</li>
        </ul>
      </div>

      <div>
        <h2>Cons</h2>
        <ul>
          <li>Very popular, so the site you are building is likely to look quite generic.</li>
          <li>The amount of class names needed to create all the different perutations leads to large file sizes.</li>
          <li>For the UI components it will also have a dependancy on jQuery.</li>
        </ul>
      </div>
    </div>
  </section>

  <a [routerLink]="[ '/slide-8' ]" class="link link--prev">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
  <a [routerLink]="[ '/slide-10' ]" class="link link--next">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
</article>

