.link {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  bottom: 1rem;

  img {
    height:100%;
    width: 100%;
  }
}

.link--next {
  right: 1rem;
}

.link--prev {
  left: 1rem;
  transform: rotate(180deg);
}
