<article class="slide slide--text">
  <header>
    <h1>Tailwind HTML</h1>
  </header>
  <section>
    <pre class="prettyprint"><code class="lang-html">
  &lt;link rel="stylesheet" href="assets/css/styles.css"&gt;

  &lt;section class="p-4 bg-gainsboro"&gt;
      &lt;h2 class="mb-4 text-darkslategrey mt-0"&gt;Articles&lt;/h2&gt;
      &lt;div class="flex space-x-4"&gt;
          &lt;article class="card border border-solid border-darkslategrey"&gt;
              &lt;h3 class="text-blueviolet mt-0"&gt;Article&lt;/h3&gt;
              &lt;img class="max-w-100" src="assets/img/css-outline.png" alt="an image"&gt;
              &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;
              &lt;button class="button"&gt;Click me&lt;/button&gt;
          &lt;/article&gt;
          &lt;article class="card"&gt;
              &lt;h3 class="text-dodgerblue mt-0"&gt;Article&lt;/h3&gt;
              &lt;img class="max-w-100" src="assets/img/css-outline.png" alt="an image"&gt;
              &lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit.&lt;/p&gt;
              &lt;button class="button"&gt;Click me&lt;/button&gt;
          &lt;/article&gt;
      &lt;/div&gt;
  &lt;/section&gt;
    </code></pre>
  </section>

  <a [routerLink]="[ '/slide-15' ]" class="link link--prev">
    <img src="assets/img/arrow-right.png" alt="">
  </a>
</article>

